[submodule "webclient/blockly"]
	path = webclient/blockly
	url = https://github.com/google/blockly.git
[submodule "webclient/JS-Interpreter"]
	path = webclient/JS-Interpreter
	url = https://github.com/NeilFraser/JS-Interpreter.git
