html, body {
    height: 100%;
    overflow: hidden;
}
#blocklyArea {
    width: 99%;
    height: 99%;
}
#blocklyDiv {
    position: absolute;
}

#stopButtonDiv {
    float: right;
    /*margin-left: 1em;
    margin-bottom: 1em;*/
    height: 60px;
    width: 60px;
}

#cam {
    float: right;
    height: 120px;
    width: 160px;
}

#console {
    /*width: 80ch;*/
    height: 120px;
}

/* Google has suggestions for their material icons; see
   https://google.github.io/material-design-icons/ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }